{
    "arrowParens": "always",
    "bracketSpacing": false,
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "requirePragma": false
}
